*{
    margin : 0;
    padding : 0;
}

body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
}

.main-content{
    display: flex;
    align-items: center;
}

header{
    height : 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bar{
    border: 2px solid hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 96%);
    height : 5rem;
    width: 25rem;
    display: flex;
    justify-content:space-around;
    gap : 3rem;
}

.main-bar a{
    text-decoration: none;
    color : black;
    padding: 0.5rem;
    font-weight: lighter;
}

.home{

    height:80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-text-section{
    height : 30rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : 60rem;
}

.img-main{
    width: 9rem;
    height: 12rem;
    border-radius: 10%;
}

.hero-text-section h1{
    font-size: clamp(50px, 120px, 150px);
}

.main-button{
    height: 2rem;
    width: 6rem;
    color : white;
    justify-content: center;
    padding: 0.5rem;
    background-color: black; 
}

.main-button a{
    text-decoration: none;
    color : white;
    font-weight: bolder;
}

#about{
    height: 50vh;
    justify-content: center;
}

.about-box{
     background-color: hsl(0, 0%, 95%);
    justify-content: space-between;
    padding : 2rem;
    margin : 1rem;
    gap : 3rem;
    box-shadow: horizontal-offset vertical-offset blur-radius spread-radius black;
}

.about-img{
    border : 2px solid black;
    border-radius: 10%;
    padding : 2rem;
    height : 10rem;
    width : 10rem;
    align-items: center;
    justify-content: center;
}

.about-text{
    font-weight: bold;
    flex-direction: column;
    gap : 3rem;
}


#contact{
    justify-content: center;
    height : 10rem;
    padding : 3rem;
}

#Contact-info{
    background-color: hsl(0, 0%, 96%);
    padding : 3rem;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    font-weight: lighter;
}

footer{
    justify-content: center;
    font-size: smaller;
    padding : 3rem;
}
.uplift-box {
    /* Initial state styles */
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Smooth transition properties and timing function */
    transform: translateY(0); /* Initial vertical position */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Initial shadow */
}

.uplift-box:hover {
    /* Final state styles on hover */
    transform: translateY(-10px); /* Moves the div up by 10px */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increases shadow for a floating effect */
}
