*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color : black;
}

header{
  background-color : black;
  padding : 3rem;
}




#bar{
  display : flex;
  justify-content : space-around;
  gap : 5rem;

  align-items : center;

  height : 10rem;
  width : 100%;


}

#bar img{
  height : 15rem;
  width : 15rem;

}

#nav{
  display: flex;
  justify-content : space-around;
  align-items : center;
  height : 4rem;
  width : 20rem;
  border : 1px solid darkgrey;
}


#bar #nav a{
  text-decoration : none;
  color : white;
}

#home{
background-color : black;
  height : 80vh;
  width : 100%;

  display : flex;
  justify-content : center;
  align-items : center;

}
#home h1{
  color : white;
  font-size : 15rem;
  display : flex;
  padding : 2rem;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
}

#service{
  height : 50rem;
  width : 100%;
  display : flex;
  justify-content : space-around;
  align-items : center;
  background-color : black;
}

.service{
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
}

#about{
  display : flex;
  justify-content : space-around;
  align-items : center;

  height : 30rem;
  width : 100%;
  background-color : black;


}

#about img{
  height : 20rem;
  width : 24rem;
}

# about h3{
  color : white;
}
#about p{
 color : white;
}

footer{
  background-color : black;
  display : flex;
  justify-content : center;
  align-items : flex-end;
  height : 20rem;
  padding : 2rem;
}

footer p{
  color : darkgrey;
  font-size : 10px;
}
